.banner {
  @include padding(4em null);
  background-image: image-url("about.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;

  @include media($medium-screen-up) {
    @include padding(8em null);
  }

  .index & {
    @include padding(9em null);

    @include media($medium-screen-up) {
      @include padding(18em null);
    }
  }

  .resources & {
    background-image: image-url("resources.jpg");
  }

  .schedule & {
    background-image: image-url("schedule.jpg");
  }

  h3 {
    color: white;
  }

  h2 {
    @include outer-container;
    font-family: $decorative-font-family;
    font-size: em(36);

    @include media($medium-screen-up) {
      font-size: em(62);
    }
  }
}
