.bar {
  @include clearfix;
  @include padding(1.5em null);

  @include media($medium-screen-up) {
    @include padding(0 null);
    @include position(absolute, 0 0 null 0);
  }

  .container {
    @include align-items(center);
    @include display(flex);
    @include justify-content(space-between);
  }

  h1 {
    @include flex(1);
    font-size: em(18);

    a {
      @include align-items(center);
      @include display(flex);
      color: $base-accent-color;
      font-weight: 900;

      @include media($medium-screen-up) {
        color: white;
      }

      span {
        display: none;

        @include media(em(375)) {
          display: inline;
        }
      }

      span:first-of-type {
        font-weight: 400;
      }
    }

    svg {
      margin-right: 1em;
    }
  }
}

.mobile-menu-toggle {
  @include align-items(center);
  @include display(flex);
  color: $medium-gray;
  font-weight: 800;

  &:hover,
  &:active,
  &:focus {
    color: $base-font-color;

    svg {
      fill: $base-font-color;
    }
  }

  svg {
    fill: $medium-gray;
    margin-right: 0.25em;
  }

  @include media ($medium-screen-up) {
    display: none;
  }
}

.nav {
  @include position(absolute, em(64) 0 null 0);
  clear: both;
  display: none;

  @include media($medium-screen-up) {
    clear: none;
    display: block;
    float: right;
    position: static;
  }
}

.nav-link {
  @include transition(background, 0.15s);
  background: $base-background-color;
  border-bottom: $base-border;
  color: $medium-gray;
  display: block;
  font-family: $header-font-family;
  padding: 1.5em 1em;
  position: relative;

  @include media($medium-screen-up) {
    @include padding(1em null);
    background: none;
    border-bottom: none;
    color: rgba(white, 0.8);
    display: inline-block;

    &::before {
      @include position(absolute, 70% null null 50%);
      @include transform(translateX(-50%));
      color: transparent;
      content: '\2022';
      font-size: 0.75em;
      pointer-events: none;
      text-shadow: 0 0 transparent;
      transition: text-shadow 0.3s, color 0.3s;
    }

    &:hover,
    &:focus,
    &.active {
      color: white;

      &::before {
        color: #fff;
        text-shadow: 10px 0 #fff, -10px 0 #fff;
      }
    }
  }
}
