.bar {
  @include clearfix;
  @include padding(.5em null);

  @include media($medium-screen-up) {
    @include padding(0 null);
    @include position(absolute, 0 0 null 0);
  }

  h1 {
    @include margin(1em null);
    color: $base-accent-color;
    float: left;
    font-family: $base-font-family;
    font-size: em(18);

    @include media($medium-screen-up) {
      color: white;
    }

    span {
      opacity: 0.8;
    }
  }
}

.mobile-menu-toggle {
  color: $medium-gray;
  display: table;
  float: right;
  font-weight: 800;
  margin-top: 1em;
  vertical-align: middle;

  &:hover, &:active, &:focus {
    color: $base-font-color;

    path {
      fill: $base-font-color;
    }
  }

  svg, span {
    display: table-cell;
    vertical-align: middle;
  }

  svg {
    margin-right: 0.25em;
  }

  path {
    fill: $medium-gray;
  }

  @include media ($medium-screen-up) {
    display: none;
  }
}

.nav {
  @include position(absolute, em(58) 0 null 0);
  clear: both;
  display: none;

  @include media($medium-screen-up) {
    clear: none;
    display: block;
    float: right;
    position: static;
  }
}

.nav-link {
  @include transition(background, 0.15s);
  background: $base-background-color;
  border-bottom: $base-border;
  color: $medium-gray;
  display: block;
  padding: 1.5em 1em;

  &:last-child {
    border-bottom: none;
  }

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: $base-accent-color;
    background: rgba($secondary-accent-color, 0.2);
  }

  @include media($medium-screen-up) {
    @include padding(1em null);
    background: none;
    border-bottom: none;
    color: rgba(white, 0.8);
    display: inline-block;

    &:hover,
    &:focus {
      color: white;
    }

    &.active {
      background: $secondary-accent-color;
      color: darken($secondary-accent-color, 35%);
      font-weight: 800;
    }
  }
}
