.diversity {
  @include padding(5em null);
  background-image: image-url("diversity.png");
  background-position: center;
  background-size: cover;

  @include media($medium-screen-up) {
    @include padding(10em null);
  }

  h3 {
    color: white;
    font-family: $decorative-font-family;
    font-size: em(42);
  }

  p {
    color: rgba(white, 0.8);
    font-size: em(24);
  }
}
