$workshop-teaser-width: 30%;

.next-workshop {
  @include padding(null 0);
  border-bottom: $base-border;
  position: relative;

  @include media($max-width-up) {
    @include margin(8em null);
    border-bottom: none;
  }
}

.workshop-teaser {
  @include position(absolute, 0 null 0 0);
  background-image: image-url("group.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  width: $workshop-teaser-width;

  @include media($max-width-up) {
    display: block;
  }
}

.workshop-summary {
  @include clearfix;
  background-color: white;
  border-left: $base-border;
  border-right: $base-border;
  float: left;
  padding: 4em 1em;

  @include media($max-width-up) {
    @include padding(null 4em);
    margin-left: $workshop-teaser-width;
    width: 100% - $workshop-teaser-width;
  }

  .day {
    text-transform: uppercase;
  }

  .date {
    display: block;
    font-family: $header-font-family;
    font-size: em(32);
    margin-bottom: 1em;
  }

  svg {
    @include position(relative, em(2) null null null);
    fill: $base-font-color;
    float: left;
    margin-right: 0.75em;
  }

  p,
  address {
    font-size: em(18);
    margin-bottom: 2em;
    overflow: hidden;
  }

  address {
    color: $light-font-color;
    font-style: normal;
  }
}

.workshop-actions {
  float: right;

  .volunteer {
    margin-top: 20px;
    text-align: center;
  }
}

.workshop-rsvp {
  @extend %button;
}
