body {
  @include outer-container;
  background-color: $base-background-color;
  font-size: em(14);
  max-width: $max-width + 14em;

  @include media($medium-screen-up) {
    font-size: $base-font-size;
  }
}

article {
  margin-bottom: 4em;
}

.container {
  @include outer-container;
  @include padding(null 1em);
  max-width: 36em;

  @include media($medium-screen-up) {
    @include padding(null 2em);
    max-width: $max-width
  }

  @include media($max-width-up) {
    @include padding(null none);
  }

  &.text-container {
    max-width: em(640);
  }
}

.content {
  @include media($medium-screen-up) {
    @include omega(2n);
    @include span-columns(2);
  }
}

.feature {
  background: white;
  padding-top: 4em;

  .resources & {
    border-bottom: $base-border;
  }
}
