body {
  background-color: $base-background-color;
  font-size: em(14);

  @include media($medium-screen-up) {
    font-size: $base-font-size;
  }
}

.container {
  @include outer-container;
  @include padding(null 1em);

  @include media($medium-screen-up) {
    @include padding(null 2em);
  }

  @include media($max-width-up) {
    @include padding(null none);
  }
}

.narrow-container {
  @extend .container;
  max-width: em(720);
}

.content {
  @include media(em(720)) {
    @include padding(4em null);
  }
}

.content-section {
  margin-bottom: 4em;
}

.sheet {
  background-color: #fff;
  padding: 1em;

  @include media($medium-screen-up) {
    border: $base-border;
    padding:2em;
  }

  @include media($max-width-up) {
    padding: 4em;
  }

  section {
    margin-bottom: 4em;
  }
}

.feature {
  @include padding(4em null);
  background: white;

  @include media($medium-screen-up) {
    @include padding(8em null);
  }
}

.photo-feature {
  @extend .feature;
  border-top: $base-border;
  display: none;

  @include media($medium-screen-up) {
    display: block;
  }
}
