%footer
  .container
    .contact
      %p Get in touch:
      = link_to "railsbridgetriangle@gmail.com", "mailto:railsbridgetriangle@gmail.com", class: "email"

    .author
      Site design by
      = link_to "thoughtbot", "http://thoughtbot.com"
