%footer
  .container
    .contact
      %p Get in touch:
      %li= link_to "railsbridgetriangle@gmail.com", "mailto:railsbridgetriangle@gmail.com", class: "email"
      %li= link_to "register for an event via BridgeTroll", "https://www.bridgetroll.org/chapters/33"
      %li= link_to "follow us on Twitter", "https://twitter.com/railsbridgetri"
    .author
      Site design by
      = link_to "thoughtbot", "http://thoughtbot.com"
