<div class="newsletter-signup container">
  <h3>Want to stay up to date on all of our workshops?</h3>
  <p><a href="http://eepurl.com/bW7ZDP">Sign up for our mailing list</a> and we'll let you know as events are announced!</p>
