---
title: FAQ - RailsBridge Triangle
---

.banner
  %h2 Frequently Asked Questions

.feature
  .container
    %h3 What is the goal/purpose of RailsBridge Triangle?
    %p
      RailsBridge Triangle is our local chapter of
      <a href="http://railsbridge.org">RailsBridge</a>.

      As you may have heard, the tech community has a big problem when it comes
      to diversity.

      The makeup of many tech companies does not match the community they serve,
      largely underrepresenting women, people of color, and LGBTQ people.

      We hold a free Intro to Rails event a few times a year in the Triangle
      area in order to introduce web development to the broader community.

      We're trying to make the tech community more diverse by providing a
      welcoming environment where underrepresented populations can feel
      comfortable getting started.

    %h3 Is this event for me?
    %p
      Our focus is on providing opportunities for underrepresented populations
      in tech.

      If you are not a member of an underrepresented group in tech, you are
      welcome to attend as a student as long as you come as the guest of someone
      who is. You can indicate this on the
      #{ link_to 'signup form', signup_url }.

      Everyone is welcome to help out as a TA, regardless of their membership in
      an underrepresented group.

    %h3 Do I need previous programming experience to attend?
    %p
      The curriculum we cover is best suited for those with little to no
      previous programming experience. If you've managed to view this website,
      you have all the knowledge necessary to succeed at programming!

      If you already have some experience with Ruby and Rails, this event may
      include a lot of recap for you, but may still be useful.

      If you are comfortable with Ruby and Rails, you are welcome to help out as
      a teaching assistant.

    %h3 I don't want to become a web developer, is this still for me?
    %p
      Yes! Most of the people who attend these events do not go on to do web
      development professionally.

      Whether you're more into design or the business side, this event is
      perfect for those that just want to get an idea of what web development is
      like.

    %h3 Will I be able to code after this?
    %p
      A little.

      Enough to get a job? No, probably not.

      The goal of this event is to introduce you to Ruby on Rails and web
      development in general.

      Consider this a preview. We want to show you enough for you to be able to
      decide if you'd like to continue learning.

      Towards the end of the event, we will talk about the best ways to proceed
      if you do decide you like it.

    %h3 Will there be food?
    %p
      Yes!

      Our gracious sponsors will be providing three meals during the event:
      dinner (during the Installfest), breakfast, and lunch.

      The Installfest dinner (Friday night) is usually something like pizza.

      The main event (Saturday) starts with a light breakfast, normally
      including things like bagels, coffee, and muffins.

      After working in the morning, we'll have a lunch of something like
      sandwiches or wraps.

      We are happy to accomodate any dietary restrictions. You can indicate
      these when you #{ link_to 'sign up', signup_url }.


    %h3 How many people will be there?
    %p
      Our events have between 30-50 students with 10-20 teaching assistants.

    %h3 Can I skip the Installfest?
    %p
      No, you need to attend both days.

      The Installfest is an essential part of the event where we make sure you
      have everything necessary to go through the curriculum.

      If you think your machine is already setup, great! Come to the Installfest
      and one of our TAs can verify your setup and you can enjoy some free food!

    %h3 Who will be teaching?
    %p
      Our teaching assistants are made up of previous RailsBridge participants,
      students from local tech schools, and members of the local tech community.

      They are here to help you out with the curriculum as well as to help with
      any other general questions you might have about programming/working in
      tech.

    %h3 Is there a Code of Conduct/Anti-harassment policy?
    %p
      Yes, RailsBridge Triangle is dedicated to a harassment-free conference
      experience for everyone.

      For more details, see the full BridgeFoundry
      <a href="http://bridgefoundry.org/code-of-conduct/">Code of Conduct</a>.

    %h3 Will I be photographed?
    %p
      We may have a photographer during the event take some photos for this
      website.

      We also usually take a group photo in the afternoon.

      When you sign in, you will be presented with a photo release form if you
      are willing to have your photo taken.

      If you don't want to be photographed, you can let us know then and we will
      make sure the photographer is aware of your wishes.

    %h3 What happens at the event?
    %p
      See our Schedule page for an idea of how the event will work.

      The Installfest (Friday night) is spent mostly working through an install
      guide for getting Ruby and everything else set up for Saturday.

      On Saturday we work through the RailsBridge Intro to Rails curriculum.

      The curriculum is largely self-driven. We'll point you in the right
      direction and let you work through the exercises at your own pace.

      TAs will circulate and help you out with any questions.

      We will also have a few 10-20 minute presentations to introduce main
      concepts.

    %h3 How much is childcare?
    %p
      Free! If you request it, we will hire a sitter at no cost to you to
      provide childcare on-site so you can focus on your work. You can indicate
      if you need childcare on the #{ link_to 'signup form', signup_url }.

    %h3 What do I need to bring?
    %p
      All you need to bring is a working laptop computer that can connect to the
      internet via WiFi (and its charger). We will help you install everything
      you need on Friday night during the Installfest.

      You may want to bring a jacket as the AC in some places can get a little
      chilly.

      Also, some people like to bring paper/pens to take notes so they don't
      have to switch between things while using their computer.
