---
title: Schedule - RailsBridge Triangle
---

.banner
  %h2 Schedule

.timeline
  .container
    %h3.timeline-date Friday, February 20
    %ol
      %li
        %span.timeline-time 06:30
        .timeline-description
          %h4.timeline-title Install party
          %p
            Aenean eget maximus urna, a aliquet velit. Integer malesuada
            tristique tincidunt. Morbi sit amet odio scelerisque, rutrum leo in,
            interdum lorem.

    %h3.timeline-date Saturday, February 21
    %ol
      %li
        %span.timeline-time 09:00 am
        .timeline-description
          %h4.timeline-title Breakfast
          %p
            Aenean eget maximus urna, a aliquet velit. Integer malesuada
            tristique tincidunt. Morbi sit amet odio scelerisque, rutrum leo in,
            interdum lorem.
      %li
        %span.timeline-time 10:00 am
        .timeline-description
          %h4.timeline-title Class
          %p
            Aenean eget maximus urna, a aliquet velit. Integer malesuada
            tristique tincidunt. Morbi sit amet odio scelerisque, rutrum leo in,
            interdum lorem.
      %li
        %span.timeline-time 10:10 am
        .timeline-description
          %h4.timeline-title Intro to Ruby talk
          %p
            Aenean eget maximus urna, a aliquet velit. Integer malesuada
            tristique tincidunt. Morbi sit amet odio scelerisque, rutrum leo in,
            interdum lorem.
      %li
        %span.timeline-time 10:30 am
        .timeline-description
          %h4.timeline-title Start working on Intro to Rails curriculum
          %p
            Aenean eget maximus urna, a aliquet velit. Integer malesuada
            tristique tincidunt. Morbi sit amet odio scelerisque, rutrum leo in,
            interdum lorem.
      %li
        %span.timeline-time 11:30 am
        .timeline-description
          %h4.timeline-title Intro to the Web/Rails/MVC talk
          %p
            Aenean eget maximus urna, a aliquet velit. Integer malesuada
            tristique tincidunt. Morbi sit amet odio scelerisque, rutrum leo in,
            interdum lorem.
      %li
        %span.timeline-time 11:45 am
        .timeline-description
          %h4.timeline-title Continue working on curriculum
          %p
            Aenean eget maximus urna, a aliquet velit. Integer malesuada
            tristique tincidunt. Morbi sit amet odio scelerisque, rutrum leo in,
            interdum lorem.
      %li
        %span.timeline-time 12:30 pm
        .timeline-description
          %h4.timeline-title Lunch
          %p
            Aenean eget maximus urna, a aliquet velit. Integer malesuada
            tristique tincidunt. Morbi sit amet odio scelerisque, rutrum leo in,
            interdum lorem.
      %li
        %span.timeline-time 04:00 pm
        .timeline-description
          %h4.timeline-title Wind-down
          %p
            Aenean eget maximus urna, a aliquet velit. Integer malesuada
            tristique tincidunt. Morbi sit amet odio scelerisque, rutrum leo in,
            interdum lorem.
