---
title: Schedule - RailsBridge Triangle
---

.banner
  %h2 Schedule

.timeline
  .container
    %h3.timeline-date Friday
    %ol
      %li
        %span.timeline-time 06:30 pm - 08:30 pm
        .timeline-description
          %h4.timeline-title Installfest
          %p
            Bring your laptop and we'll help you <a href="http://docs.railsbridge.org/installfest/">get everything you need
            installed</a> and ready for the big day. Food will be provided!

    %h3.timeline-date Saturday
    %ol
      %li
        %span.timeline-time 09:00 am
        .timeline-description
          %h4.timeline-title Breakfast
          %p
            Eat some breakfast (generously provided by
            <a href="http://thoughtbot.com">thoughtbot</a>) and relax a bit
            before we dive into the class.
      %li
        %span.timeline-time 09:30 am
        .timeline-description
          %h4.timeline-title Class begins
          %p
            After some introductory talks, we'll work our way through the
            <a href='http://docs.railsbridge.org/intro-to-rails/'>Intro to Rails
            curriculum</a>.

      %li
        %span.timeline-time 12:30 pm
        .timeline-description
          %h4.timeline-title Lunch
          %p
            Recharge with some lunch before finishing up the curriculum.

      %li
        %span.timeline-time 04:00 pm - 04:30 pm
        .timeline-description
          %h4.timeline-title Wind-down
          %p
            We'll talk about where you can go from here and say our goodbyes.

      %li
        %span.timeline-time 05:00 pm - ? (optional)
        .timeline-description
          %h4.timeline-title Afterparty
          %p
            Head to a local bar or restaurant, get some drinks and appetizers,
            and celebrate all the awesome new things you've learned! This is a
            great chance to ask your TAs about what it's like to work as a
            developer. I'm sure they'd love to answer any questions you can
            throw at them.
