---
title: Resources - RailsBridge Triangle
---

.banner
  %h2 Volunteer!

.content
  .narrow-container.sheet
    .content-section
      %h3 Volunteer to TA
      %p
        RailsBridge is built on volunteer efforts.
        In order to run a successful workshop,
        we need volunteers to help out students as they learn.
        The number one thing we look for in a TA
        is a willingness to help.
        You should have a beginner's understanding of Rails
        and be excited about helping others learn.

      %p
        Previous participants make excellent TAs!
        After you have enjoyed our workshop before,
        we would love for you to come back
        and help new beginners on their journey.

      %p
        You can find more information about being a TA here:
        =link_to "http://www.railsbridge.org/help/teach", "http://www.railsbridge.org/help/teach"

    .content-section
      %h3 Give a talk!
      %p
        We have 5 lectures during our workshop.
        The content is set ahead of time,
        but we encourage you to put your own spin on it.
        Please let us know if you are interested in speaking!

    .volunteer-actions
      = link_to "Sign up to Volunteer", "https://www.bridgetroll.org/events/138", class: "volunteer-button"
