<html>
  <head>
    <title>Example page</title>
    <style>
      .warning {
          background-color: tomato;
      }
    </style>
  </head>

  <body>
    <h1>A heading</h1>
    <p>
      This is a paragraph.
    </p>
    <p>
      This is another paragraph. With <strong>bold</strong> and <em>italic</em> text.
    </p>
    <p>
      Here is a pizza:<br>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Kartoffel_pizza_%28with_border%29.jpg/320px-Kartoffel_pizza_%28with_border%29.jpg" alt="pizza">
    </p>
    <p>
      Warning! <span class="warning">Pizza can be hot!</span>
    </p>
    <p>
      You can learn more about HTML <a href="https://developer.mozilla.org/en-US/Learn/HTML">here</a>.
    </p>
  </body>
</html>
