<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>RailsBridge Triangle - Intro to the Web</title>

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="../assets/stylesheets/reveal/reveal.css">
    <link rel="stylesheet" href="../assets/stylesheets/reveal/black.css" id="theme">

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="../assets/stylesheets/reveal/zenburn.css">

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="reveal">
      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        <section>
          <h1 class="logo">
            <svg width="120px" height="70px" viewBox="0 0 58 34" xmlns="http://www.w3.org/2000/svg">
              <path d="M0,0 L58.0057061,0 L0,34 L0,0 Z" fill-opacity="0.8" fill="#50E3C2"></path>
              <path d="M0,0 L58.0057061,0 L0,34 L0,0 Z" fill-opacity="0.6" fill="#4990E2" transform="translate(29.002853, 17.000000) scale(-1, 1) translate(-29.002853, -17.000000) "></path>
            </svg>
          </h1>
          <h1>Intro to the Web</h1>
          <h2 style="text-transform: none">How the internet works</h2>
        </section>

        <section style="text-align: left">
          <h1 style="font-size: 6rem; line-height: 150%">
            <p class="fragment">History</p>
            <p class="fragment">Web languages</p>
            <p class="fragment">Web requests</p>
            <p class="fragment">Web apps</p>
          </h1>
        </section>

        <section style="text-align: left">
          <h1 style="font-size: 6rem; line-height: 150%">
            <p>History</p>
            <p style="opacity: 0.5">Web languages</p>
            <p style="opacity: 0.5">Web requests</p>
            <p style="opacity: 0.5">Web apps</p>
          </h1>
        </section>

        <section>
          <h1>1969</h1>
          <h2>ARPANET</h2>
        </section>

        <section>
          <img style="height: 650px; border: none" src="https://upload.wikimedia.org/wikipedia/commons/8/83/ARPANET_first_router.jpg">
        </section>

        <section data-transition="fast">
          <img style="height: 650px; border: none" src="https://upload.wikimedia.org/wikipedia/commons/8/83/ARPANET_first_router.jpg">
          <img style="height: 200px; border: none; box-shadow: none" src="https://upload.wikimedia.org/wikipedia/commons/3/34/Linksys-Wireless-G-Router.jpg">
        </section>

        <section data-transition="none">
          <h1>October 29, 1969</h1>
        </section>

        <section data-transition="none">
          <h1>October 29, 1969</h1>
          <h2 style="margin-top: 100px">
            <span style="font-family: monospace; color: lime; background-color:
              black; padding: 10px; width: 50px">
              login
            </span>
          </h2>
        </section>

        <section data-transition="none">
          <h1>October 29, 1969</h1>
          <h2 style="margin-top: 100px">
            <span style="font-family: monospace; color: lime; background-color: black; padding: 10px">
              <span class="fragment">l</span><span
                class="fragment">o</span>&nbsp;&nbsp;&nbsp;
            </span>
          </h2>
        </section>

        <section data-transition="none" data-background="black">
        </section>

        <section>
          <h1>1971</h1>
          <h2>First email</h2>
        </section>

        <section>
          <h1>1990</h1>
          <h2>WWW invented</h2>
        </section>

        <section>
          <img style="border: none" src="https://upload.wikimedia.org/wikipedia/commons/2/2f/NeXTcube_first_webserver.JPG">
        </section>

        <section data-background="#fff">
          <iframe height="500px" width="1000px" src="http://info.cern.ch/hypertext/WWW/TheProject.html"></iframe>
        </section>

        <section>
          <h1>1995</h1>
          <h2>Ruby</h2>
        </section>

        <section>
          <img style="border: none; box-shadow: none" src="http://siliconangle.com/files/2011/08/matz.jpg">
        </section>

        <section>
          <h1>MINASWAN</h1>
          <p>Matz Is Nice And So Are We</p>
        </section>

        <section>
          <h1>2005</h1>
          <h2>Rails</h2>
        </section>

        <section>
          <img height="500px" style="border: none; box-shadow: none" src="https://farm6.staticflickr.com/5466/14069940461_32f1fdb252_b.jpg">
        </section>

        <section>
          <h1>2015</h1>
          <h2>RailsBridge Triangle!</h2>
        </section>

        <section style="text-align: left">
          <h1 style="font-size: 6rem; line-height: 150%">
            <p style="opacity: 0.5">History</p>
            <p>Web languages</p>
            <p style="opacity: 0.5">Web requests</p>
            <p style="opacity: 0.5">Web apps</p>
          </h1>
        </section>

        <section>
          <h1>HTML</h1>
          <h2><strong>H</strong>yper<strong>T</strong>ext <strong>M</strong>arkup <strong>L</strong>anguage</h2>
        </section>
        <section>
          <pre><code class="html">
&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;Example page&lt;/title&gt;
  &lt;/head&gt;

  &lt;body&gt;
    &lt;h1&gt;A heading&lt;/h1&gt;
    &lt;p&gt;
      This is a paragraph.
    &lt;/p&gt;
    &lt;p&gt;
      This is another paragraph. With &lt;strong&gt;bold&lt;/strong&gt; and &lt;em&gt;italic&lt;/em&gt; text.
    &lt;/p&gt;
    &lt;p&gt;
      Here is a pizza:&lt;br&gt;
      &lt;img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Kartoffel_pizza_%28with_border%29.jpg/320px-Kartoffel_pizza_%28with_border%29.jpg" alt="pizza"&gt;
    &lt;/p&gt;
    &lt;p&gt;
      You can learn more about HTML &lt;a href="https://developer.mozilla.org/en-US/Learn/HTML"&gt;here&lt;/a&gt;.
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
          </code></pre>
          <a href="../intro_to_web/example_page.html">example_page.html</a>
        </section>

        <section>
          <h1>CSS</h1>
          <h2><strong>C</strong>ascading <strong>S</strong>tyle <strong>S</strong>heets</h2>
        </section>

        <section>
          <pre><code class="html">&lt;html&gt;
  &lt;head&gt;
    &lt;style&gt;
      .warning {
        background-color: tomato;
      }
    &lt;/style&gt;
  &lt;/head&gt;

  &lt;body&gt;
    &lt;div&gt;
      <span class="warning">Pizza is hot!</span>
    &lt;/div&gt;
  &lt;/body&gt;
&lt;/html&gt;
          </code></pre>
          <a href="../intro_to_web/example_page_with_style.html">example_page_with_style.html</a>
        </section>

        <section>
          <h1>JS</h1>
          <h2><strong>J</strong>ava<strong>s</strong>cript</h2>
        </section>

        <section>
          <pre><code class="html">&lt;html&gt;
  &lt;head&gt;
    &lt;script&gt;
      function pizzaTime(element) {
        element.innerHTML = "&lt;img src='https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Kartoffel_pizza_%28with_border%29.jpg/320px-Kartoffel_pizza_%28with_border%29.jpg' alt='pizza'&gt;";
      }
    &lt;/script&gt;
  &lt;/head&gt;

  &lt;body&gt;
    &lt;div&gt;
      <button onClick="pizzaTime(this)">Pizza time</button>
    &lt;/div&gt;
  &lt;/body&gt;
&lt;/html&gt;
          </code></pre>
          <a href="../intro_to_web/example_page_with_js.html">example_page_with_js.html</a>
        </section>

        <section style="text-align: left">
          <h1 style="font-size: 6rem; line-height: 150%">
            <p style="opacity: 0.5">History</p>
            <p style="opacity: 0.5">Web languages</p>
            <p>Web requests</p>
            <p style="opacity: 0.5">Web apps</p>
          </h1>
        </section>

        <section>
          <img src="../assets/images/web1.png" alt="DNS lookup request of google.com" style="border: none; box-shadow: none;">
        </section>

        <section>
          <img src="../assets/images/web2.png" alt="DNS lookup request of google.com" style="border: none; box-shadow: none;">
        </section>

        <section>
          <img src="../assets/images/web3.png" alt="DNS lookup response for google.com" style="border: none; box-shadow: none;">
        </section>

        <section>
          <img src="../assets/images/web4.png" alt="DNS lookup response for google.com" style="border: none; box-shadow: none;">
        </section>

        <section>
          <img src="../assets/images/web5.png" alt="GET request to google.com" style="border: none; box-shadow: none;">
        </section>

        <section>
          <img src="../assets/images/web6.png" alt="GET request to google.com" style="border: none; box-shadow: none;">
        </section>

        <section>
          <img src="../assets/images/web7.png" alt="GET response from google.com" style="border: none; box-shadow: none;">
        </section>

        <section>
          <img src="../assets/images/web8.png" alt="GET response from google.com" style="border: none; box-shadow: none;">
        </section>

        <section style="text-align: left">
          <h1 style="font-size: 6rem; line-height: 150%">
            <p style="opacity: 0.5">History</p>
            <p style="opacity: 0.5">Web languages</p>
            <p style="opacity: 0.5">Web requests</p>
            <p>Web apps</p>
          </h1>
        </section>

        <section>
          <h1>Web page</h1>
          <h2><a href="http://www.funnycatpix.com/">funnycatpix.com</a></h2>
          <ul>
            <li class="fragment">Static</li>
            <li class="fragment">For viewing content</li>
            <li class="fragment">No persistance</li>
            <li class="fragment">Plain HTML</li>
          </ul>
        </section>

        <section>
          <h1>Web app</h1>
          <h2><a href="http://twitter.com">twitter.com</a></h2>
          <ul>
            <li class="fragment">Dynamic</li>
            <li class="fragment">For <em>creating</em> content</li>
            <li class="fragment">Persistance via database</li>
            <li class="fragment">Generated HTML</li>
          </ul>
        </section>

        <section>
          <h1 class="logo">
            <svg width="120px" height="70px" viewBox="0 0 58 34" xmlns="http://www.w3.org/2000/svg">
              <path d="M0,0 L58.0057061,0 L0,34 L0,0 Z" fill-opacity="0.8" fill="#50E3C2"></path>
              <path d="M0,0 L58.0057061,0 L0,34 L0,0 Z" fill-opacity="0.6" fill="#4990E2" transform="translate(29.002853, 17.000000) scale(-1, 1) translate(-29.002853, -17.000000) "></path>
            </svg>
          </h1>
          <h1>Done!<br>Questions?</h1>
        </section>
      </div>
    </div>

    <script src="../assets/javascripts/head.min.js"></script>
    <script src="../assets/javascripts/reveal.js"></script>

    <script>

      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: false,
        progress: true,
        history: true,
        center: true,

        transition: 'slide', // none/fade/slide/convex/concave/zoom

          // Optional reveal.js plugins
        dependencies: [
        { src: '../assets/javascripts/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
        ]
      });

    </script>

  </body>
</html>
